%div{:style=>"height:280px;"}
  %b Howdy! #{@email}
  %br
  %br

  %b Your friend #{@user.name} has invited you to Join Pixsume skill comparison challenge!
  %br/
  %br/
  %a{href: "107.170.114.144", style: "padding: 10px 20px;border: 1px solid #4fa643;font-size: 15px;background: #5fb755;color: #fff;text-shadow: 0 1px #26744d;text-decoration: none;border-radius: 3px;"}Join Pixsume now!
  %br/
  %br

  %b Benefits of Creating a Pixsume account
  %p - Create Visual resume instantly
  %p - Compare your skills with thousand other similar profiles like yours
  %p - Identify your improvement areas
  %p - See free and paid available resources

  %br/
  %a{href: "107.170.114.144", style: "padding: 10px 20px;border: 1px solid #4fa643;font-size: 15px;background: #5fb755;color: #fff;text-shadow: 0 1px #26744d;text-decoration: none;border-radius: 3px;"}Join Pixsume now!

  
  
