%div{:style=>"height:280px;"}
  %b Dear: 
  Admin
  %br
  %br

  The User #{@mail_id} got an error while using our Website..!
  %br
  %br
  He was on the following page #{@previous_url} 
  %br
  %br
  he triger the action #{@action}, 
  %br
  %br
  to access the following page #{@accessed_url} 
  %br
  %br
  %br
  %br

  %b Thanks  
  %br
  %b Pixsume.com
