%b{:style =>"font-size:18px"}
  Howdy! #{@user.name.capitalize},
  %br/
Welcome and thanks for joining Pixsume. We have created a short set of tutorials which will walk you through on how to make effective use of your Pixsume.
%ol
  %b
    %li
      %a{:href => "107.170.114.144/first-thing-first"} First things first
    %br
    %li
      %a{:href => "107.170.114.144/pixsume-in-job-search"} How to use your pixsume in Job Search
    %br   
    %li
      %a{:href => "107.170.114.144/how-to-rate-your-skill"} How to rate your skillsets
    %br
    %li
      %a{:href => "107.170.114.144/compare-your-visual-resume"} Compare your resume with others
    %br
    %li
      %a{:href => "107.170.114.144/improve-your-visual-resume"} Improve your resume
%hr{:color => "#0088CC"}
  %a{ :href =>"https://twitter.com/pixsume", :target => "_blank" }
    %img{:src => "https://lh4.googleusercontent.com/i8mdZxGrLZvobhrv7qHMB57LL6GZwMIvXz8DiN1IBIWxekZR8nUwWUtE42HxyIns8q0ESawWbFYXTqYDH3iUfD4etacICJEHmCUR00YL1pjLrpef1c-2QBrfaw", :style => "width: 157px; height: 46px; margin-left: 0px; margin-top: 0px; border: 0px solid transparent;"}/
  \&nbsp;&nbsp;
  %a{ :href => "https://facebook.com/pixsume", :target => "_blank"}
    %img{:src => "https://lh5.googleusercontent.com/t1ZHQBEOzVzG4402JCNlJG6-4xSKEwXTmXKPRP938Ki9v88cyGGo1kFR2gcsMzUku9024iFyohAG4S3CJzZgenG7vIOHw--3NmpUzb2bDVBLSwFki-IFxLLmVQ", :style => "width: 158px; height: 48px; margin-left: 0px; margin-top: 0px; border: 0px solid transparent;"}
    \&nbsp;&nbsp;
  %a{ :href => "http://blog.pixsume.com", :target => "_blank"}
    %img{:src => "https://lh3.googleusercontent.com/2YWEJuugz9l5nc-f0AfLOHJjKNh9IWfd06bQMBE8ufBAbbC24mJgEddbKIfbGNct4hA9MCLNMh_eMlFEj03MRS-oEXPiD1BsSPllqM3Zh8-OzwM8bVybITX7-Q", :style => "width: 166px; height: 47px; margin-left: 0px; margin-top: 0px; border: 0px solid transparent;"}
%hr{:color => "#0088CC"}
%b
  %font{:color => "#0088CC"}
    Thanks and good luck!
    %br/
    Pixsume team
