<% if @skill_set.errors.blank? %>
  if($("#skill_sets_list").length > 0){
    $("#skill_sets_list").html("<%= j render('skill_sets/list', :skill_sets => @user.skill_sets) %>")
  }
  $.colorbox.close()

   <%if !session[:return_to].nil?%>
   <% @c= session[:return_to] %>
   <% session[:return_to]=nil %>
   window.location="<%= @c %>"
   <%end%>
<% else %>
  $("#skill_set_errors").html("<div class='alert'><%= j errors_for(@skill_set)  %></div>")
<% end %>

