#popup4.popupBox{:style => "z-index: 9999;"}
  %h2
    %span Add Skill Set
  .hero-unit
    #skill_set_errors{:style => "color: #ff0000"}
    - if (request.protocol + request.host_with_port + "/" + current_user.profile_name == request.referer)
      = form_for @skill_set do |f|
        = render 'skill_sets/form_fields', :f => f
    - else     
      = form_for @skill_set, :remote => true do |f|
        = render 'skill_sets/form_fields', :f => f
