= metamagic :title => "Pixsume Visual Resume | About Pixsume"

%section#body
  %section.container
    %h1 About Pixsume
    
    / START CONTACT US CODE
    %div
      We founded Pixsume with one simple vision: Help professionals advance in their careers. Every day we strive to add more value to Pixsume and to help you reach that goal.
      %br/
      %br/
      As we progress through our careers we acquire new skills and get better at the existing ones. Pixsume lets you identify your skillset gaps and then let you fill that gap with the help of dedicated network partners.
      %br/
      %br/
      So try Pixsume today and let us know what you think. We are eager to hear your honest feedback @
      %a{:href => "mailto:marketing@pixsume.com"} marketing@pixsume.com
      %br/
      %br/
      Follow us on 
      = link_to "Twitter", "https://twitter.com/pixsume", :target => "_blank"
      @pixsume
      %br/
      %br/
      Check out our
      = link_to "Facebook", "https://www.facebook.com/Pixsume", :target => "_blank"
      page for latest updates
      %br/
      %br/
      / END CONTACT US CODE
