= metamagic :title => "Pixsume Visual Resume | Contact Pixsume"
%section#body
  %section.container
    %h1 Contact Pixsume
    
    / START CONTACT US CODE
    %div
      Questions/Feedback , Please reach us @ 
      %a{:href => "mailto:marketing@pixsume.com"} marketing@pixsume.com
      %br/
      %br/
      Follow us on 
      = link_to "Twitter", "https://twitter.com/pixsume", :target => "_blank"
      @pixsume
      %br/
      %br/
      Follow us on
      = link_to "Facebook", "https://www.facebook.com/Pixsume", :target => "_blank"
      %br/
      %br/
      / END CONTACT US CODE
