= metamagic :title => "Pixsume Visual Resume | How Pixsume Works? | Log in"
%section#body
  %section.container
    %h1 How Pixsume Works?

    / START CONTACT US CODE
    %div
      Pixsume lets you create a visual resume, identify your skillsets gaps and help you in improving skillsets as well as acquire new skillsets. Here is how Pixsume works.
      %br/
      %br/
      %h2 Step 1: Create your Visual Resume (Pixsume)
      You can create your Pixsume (Visual resume) in 2 simple steps:
      %br/
      %br/
      %ul
        %li
          A) Import your profile from LinkedIn; it just takes few seconds.
        %li
          B) You can create your profile directly on Pixsume.
      %br/
      We recommend using LinkedIn if you have a LinkedIn profile, here is a sample Pixsume
      %br/
      %br/
      %img{:alt => "", :src => "/assets/sample-pixsume.png"}
      %br/
      %br/
      %br/
      Make sure to update the achievements section, Achievements section help you to identify your key achievements. For example, "Successful product launch, 1000 users signed up on the first day!"
      %br/
      %br/
      %h2 Step 2: Identify your Skillset Gap
      After creating your Pixsume, you can then compare your skillsets with other Pixsume profiles. Let.s say you are a ROR Developer; then Pixsume can quickly tell you how your Skillsets compare to other ROR developers with similar experience of experience
      %br/
      %br/
      Here is a sample of a comparison of a Product manager profile
      %br/
      %br/
      %img{:alt => "", :src => "/assets/sample-skills-comparision.png"}
      %br/
      %br/
      %br/
      %h2 Step 3: Improve your skillsets
      Once you have identified the Skillset gap, the next step is to create a plan for improving the skillsets. Pixsume provides you with possible list of resources (Paid and free) which you can use to improve your skillsets. For example in the above case, Mike can either read free resources or see available trainings on missing skillsets (Product Roadmaps and Customer Interviews).
      %br/
      %br/
      So what are you waiting for, create your Pixsume Now
      %br/
      %br/
      / END CONTACT US CODE
