= metamagic :title => "Pixsume Visual Resume | Jobs"
%section#body
  %section.container
    %h1 Jobs

    / START JOBS CODE
    %div
      %strong Sorry ! We are working on this page... Please visit this page after some time
      / END JOBS CODE
