= metamagic :title => "Pixsume Visual Resume | Press Release"
%section#body
  %section.container
    %h1 Press Release

    / START PRESS RELEASE CODE
    %div
      %strong Sorry ! We are working on this page... Please visit this page after some time
      / END PRESS RELEASE CODE
