= metamagic :title => "Pixsume Visual Resume | Terms of Services"
%section#body
  %section.container
    %h1 Terms of Services
    / START TERMS OF SERVICES CODE
    %div{:style => "text-align:justify"}
      This Agreement was last modified on July 20, 2013.
      %br/
      %br/
      Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using
      = link_to "107.170.114.144", "107.170.114.144", :target => "_blank"
      ("the Site") operated by Pixsume ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at
      = link_to "107.170.114.144", "107.170.114.144", :target => "_blank"
      %br/
      %br/
      By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service. Capitalized terms are defined in this Agreement.
      %br/
      %br/
      %ul{:style  => "list-style:disc"}
        %li
          %strong INTELLECTUAL PROPERTY 
          %br
          The Site and its original content, features and functionality are owned by Pixsume and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
          %br
          %br
        %li
          %strong TERMINATION
          %br
          We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
          %br
          %br
        %li
          %strong DISCLAIMER
          %br
          The materials on Pixsume's web site are provided "as is". Pixsume makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Pixsume does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
          %br
          %br
        %li
          %strong LIMITATIONS
          %br
          In no event shall Pixsume or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Pixsume's Internet site, even if Pixsume or a Pixsume authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
          %br
          %br
        %li
          %strong REVISIONS AND ERRATA
          %br
          The materials appearing on Pixsume's web site could include technical, typographical, or photographic errors. Pixsume does not warrant that any of the materials on its web site are accurate, complete, or current. Pixsume may make changes to the materials contained on its web site at any time without notice. Pixsume does not, however, make any commitment to update the materials.
          %br
          %br
        %li
          %strong LINKS TO OTHER SITES
          %br
          Our Site may contain links to third-party sites that are not owned or controlled by Pixsume.
          %br
          %br
          Pixsume has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.
          %br
          %br
        %li
          %strong GOVERNING LAW
          %br
          This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of United States, without giving effect to any principles of conflicts of law.
          %br
          %br
        %li
          %strong LIMITATION OF LIABILITY
          %br
          In no event shall Pixsume, its officers, directors, employees,  agents, and all third party service providers, be liable to you or any other person or entity for any direct, indirect, incidental, special, punitive, or consequential damages whatsoever, including any that may result from (i) the accuracy, completeness, or content of this site, (ii) the accuracy, completeness, or content of any sites linked (through hyperlinks, banner advertising or otherwise) to this site, (iii) the services found at this site or any sites linked (through hyperlinks, banner advertising or otherwise) to this site, (iv) personal injury or property damage of any nature whatsoever, (v) third-party conduct of any nature whatsoever, (vi) any unauthorized access to or use of our servers and/or any and all content, personal information, financial information or other information and data stored therein, (vii) any interruption or cessation of services to or from this site or any sites linked (through hyperlinks, banner advertising or otherwise) to this site, (viii) any viruses, worms, bugs, Trojan horses, or the like, which may be transmitted to or from this site or any sites linked (through hyperlinks, banner advertising or otherwise) to this site, (ix) any user content or content that is defamatory, harassing, abusive, harmful to minors or any protected class, pornographic, .x-rated., obscene or otherwise objectionable, and/or (x) any loss or damage of any kind incurred as a result of your use of this site or the services found at this site, whether based on warranty, contract, tort, or any other legal or equitable theory, and whether or not Pixsume is advised of the possibility of such damages.
          %br
          %br
          In addition, you specifically acknowledge and agree that any cause of action arising out of or related to this site or the services found at this site must be commenced within one (1) year after the cause of action accrues, otherwise such cause of action shall be permanently barred.
          %br
          %br
          In addition, you specifically acknowledge and agree that in no event shall Pixsume.s total aggregate liability exceed the total amount paid by you for the particular services that are the subject of the cause of action.
          %br
          %br
          The foregoing limitation of liability shall apply to the fullest extent permitted by law, and shall survive any termination or expiration of this agreement or your use of this site or the services found at this site.
          %br
          %br
        %li
          %strong INDEMNITY
          %br/
          You agree to protect, defend, indemnify and hold harmless Pixsume and its officers, directors, employees, agents, and third party service providers from and against any and all claims, demands, costs, expenses, losses, liabilities and damages of every kind and nature (including, without limitation, reasonable attorneys. fees) imposed upon or incurred by Pixsume directly or indirectly arising from (i) your use of and access to this Site or the Services found at this Site; (ii) your violation of any provision of this Agreement or the policies or agreements which are incorporated herein; and/or (iii) your violation of any third-party right, including without limitation any intellectual property or other proprietary right. The indemnification obligations under this section shall survive any termination or expiration of this Agreement or your use of this Site or the Services found at this Site.
          %br/
          %br
        %li
          %strong CHANGES TO THIS AGREEMENT
          %br/
          We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.
          %br/
          %br/
          Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.
          %br/
          %br
      / END TERMS OF SERVICES CODE

