- model_class = JobPosting
%section#body.inner
  %section.container
    .hero-unit.infoBox.final
      .topInfo{:style => "border: none; margin-bottom: none;"}
      .careerSnap
        %h2
          %span
            = "New Job Post"
        = render :partial => "form"
