<% if @achievement.errors.blank? %>
  if($("#achievements_list").length > 0){
    $("#achievements_list").html("<%= j render('achievements/list', :achievements => @user.achievements) %>")
  }
  $.colorbox.close()
 <%if !session[:return_to].nil?%> 
   <% @c= session[:return_to] %>
   <% session[:return_to]=nil %>
   window.location="<%= @c %>"
 <%end%>

<% else %>

  $("#achievement_errors").html("<div class='alert'><%= j errors_for(@achievement)  %></div>")
<% end %>

